.imageWithTitle {
  height: 200px;
  transition: 0.3s all;
  border-radius: 3px;
  background-repeat: no-repeat;
  background-position: center;
}
.imageTitle {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 10px 10px 10px 10px;
}
.categoryTitle {
  position: absolute;
  bottom: 100px;
  color: white;
  text-transform: uppercase;
  padding: 5px;
}
